<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Aakib Vhora" src="assets/AakibVhora.jpg">
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/aakibvhora/">LinkedIn</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/aakibvhora/">GitHub</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://leetcode.com/aakibvhora/">LeetCode</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
